@model IEnumerable<WebsiteQuanLyBanHang.Models.ShoppingCartItem>
@using WebsiteQuanLyBanHang.Common

<style>

</style>

<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th>Ảnh Sản Phẩm</th>
        <th>Tên Sản Phẩm</th>
        <th>Danh Mục</th>
        <th>Giá</th>
        <th style="width:100px;">Số Lượng</th>
        <th>Thành Tiền</th>
        <th style="width:200px;"></th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            <tr class="text-center" id="trow_@item.ProductId">
                <td>@(i+1)</td>
                <td><img src="@item.ProductImage" width="60" /></td>
                <td>
                    <a href="/chi-tiet-san-pham/@item.Alias-p@(item.ProductId)">
                        @item.ProductName
                    </a>
                </td>
                <td>@item.CategoryName</td>
                <td>@Common.FormatNumber(item.Price, 0)</td>
                <td>
                    <input type="number"
                           class="form-control quantity-input"
                           id="quantity_@item.ProductId"
                           value="@item.Quantity"
                           min="1"
                           data-id="@item.ProductId"
                           data-price="@item.Price" />
                </td>
                <th class="line-total" data-id="@item.ProductId">
                    @Common.FormatNumber(item.TotalPrice, 2)
                </th>
                <td>
                    <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Delete</a>
                    @*<a href="#" data-id="@item.ProductId" class="btn btn-sm btn-success btnUpdate">Cập nhật</a>*@
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="6" class="text-right">Tổng: </th>
            <th class="text-center total-amount">@Common.FormatNumber(tongtien, 0)</th>
            <th></th>
        </tr>
    }
    else
    {
        <tr>
            <th colspan="6">Không có sản phẩm trong giỏ hàng!</th>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('.quantity-input').on('change', function () {
            var productId = $(this).data('id');
            var quantity = $(this).val();

            if (quantity <= 0) {
                alert("Số lượng phải lớn hơn 0");
                $(this).val(1);
                quantity = 1;
            }

            $.ajax({
                url: '/ShoppingCart/UpdateQuantity',
                type: 'POST',
                data: {
                    id: productId,
                    quantity: quantity
                },
                success: function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                }
            });
        });
    });
</script>

